VITE_API_URL=https://onboarding.prestashop.com/api/graphql
#VITE_API_URL=http://localhost:3000/api/graphql
VITE_BILLING_SANDBOX=true
VITE_SEGMENT_WRITE_KEY=
VITE_COUNTRIES_FOR_WORKSHOPS_FEATURE='fr'
VITE_PS_ACADEMY_URL=https://preprod-academy.prestashop-test.com

# this secret tells the vue app what minimum version of the module is required
# if the version doesn't match, the vue app will call the route ps_classic_edition_clean_mbo_cache
# and the module will clear mbo cache to force updates check
# if mbo detects an update is needed, the modal will be displayed by the homepage
VITE_MINIMUM_REQUIRED_MODULE_VERSION=1.0.8
