name: publish-module

on:
  release:
    types: [released]

concurrency:
  group: publish-module-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: PrestaShop/.github/.github/actions/build-module-artifact@master
        with:
          makefile_rule: build-release
          include-hidden-files: true

  publish:
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - name: Checkout the mktp-metadata.json
        uses: actions/checkout@v5
        with:
          sparse-checkout: .github/mktp-metadata.json
          sparse-checkout-cone-mode: false
      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          name: ${{ github.event.repository.name }}
          path: /home/runner/work/
      - name: Build zip
        run: |
          cd /home/runner/work/
          zip --recurse-paths ${{ github.event.repository.name }}.zip ${{ github.event.repository.name }}
      - name: Prepare publishing tool
        run: |
          composer global require prestashop/publish-on-marketplace
      - name: Publish zip to marketplace
        run: |
          ~/.composer/vendor/bin/publish-on-marketplace --archive=/home/runner/work/${{ github.event.repository.name }}.zip --metadata-json=$PWD/.github/mktp-metadata.json --changelog="${{ github.event.release.body }}" --debug
        env:
          MARKETPLACE_API_KEY: ${{ secrets.MARKETPLACE_API_KEY }}
